@model web.Models.LoginModel

    @{
        ViewData["Title"] = "Авторизация";
    }
    <div class="text-left text-info">
        <h1>@ViewData["Title"]</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @style = "color: pink" })
        <p>
            Логин:<br>
            @Html.EditorFor(x => x.Login)<br>
            Пароль:<br>
            @Html.EditorFor(x => x.Password)
        </p>
        <button class="btn btn-info btn-sm" type="submit">Войти</button>
    }
