@{ ViewData["Title"] = "Бэкап базы данных"; }

<div class="text-left text-info">
    <h1>Бэкап базы данных</h1>
</div>
<p> <strong> <a class="btn btn-info btn-sm" asp-area="" asp-controller="backup" asp-action="BackUpToJson">Создать бэкап в .json</a></strong></p>

<style>
    body {
        background: #fff url(Images/watercolour.png);
        color: darkblue;
    }
</style>