@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Гостиница "Принцесса на горошине"</h1>
        <p>Добро пожаловать! В нашей гостинице вы сможете почувствовать себя принцессой!</p>
    </div>
