@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Гостиница "Принцесса на горошине"</h1>
        <p>Добро пожаловать! </p>
        <img src="~/Images/background.jpg" width="1000" height="500" />
    </div>
